@media screen and (max-width: 910px) {
	/*
	центрирование по горизонтали элементов хидера при переносе на следующую строку + 
	+ выползание фона из-под него при этом (так эстетичнее)
	почему 910px?
	h = 18px - мин. расстояние от логотипа до первой ссылки навигации,
	при котором хидер еще умещается на одной строке
	l_kr - мин. ширина окна браузера, при которой хидер еще умещается на одной строке
	l_kr = g/2 + (ширина логотипа) + h + (ширина навигации) + g/2 =
	= 15px + 135px + 18px + 700px + 15px = 883px
	чтобы не сущ. ширин окна браузера при переносе хидера на след. строку,
	при которых центровка еще не производится, выполним ее раньше - при 910px!
	*/
	.site-header .container {justify-content: center; } /*центрирование по горизонтали элементов хидера*/
	/*
	при переносе элементов на нижнюю строку 
	задняя картинка, текст и кнопки на ней становятся спрятанными под хидером
	лучше, чтобы этот блок выползал из-под хидера (1),
	а когда выползит, нужно залить хидер сплошным цветом
	*/
	.site-header {background: #414042; }
	/*расположение тени наведенной ссылки лучше поменять для эстетичности*/
	.container .main-menu a:hover {
		color: #4bcaff;
		box-shadow: inset 0 -3px 0 0 #4bcaff;
	}
	.sl {margin-top:0; } /*выезд из-под хидера (1)*/ 
	/*форматирование текста при масштабировании (3)*/
	.col-7on12 {
		margin-top: 0; /*отмена (2) в style.css*/
		max-width: calc(100% - 15px - 15px);
		align-items: center;
		justify-content: space-around;
	}
	.slogan, .paragraph, .blue-buttons a, .col-1 a, .site-video__name {margin-bottom: 0 } /*(3)*/	
	.slogan {font-size: 28px } /*при дальнейшем уменьшении текст становится нечитабельным (4)*/
	.site-video__name {font-size: 20px } /*при дальнейшем уменьшении текст становится нечитабельным (4)*/
	.col-4 {max-width: calc(100% / 2 - 15px - 15px); } /*перестройка колонок с кругляшами и скриншотами*/
	.col-3on12, .col-4on12 {max-width: calc(100% / 12 * 5 - 15px - 15px ); } /*перестройка колонок с ценами*/
	.col-6on12 {max-width: calc(100% / 12 * 9 - 15px - 15px ); } /*site-testimonials*/
	.download div {font-size: 40px; }
}
@media screen and (max-width: 600px) {
	.paragraph, .site-video__paragraph {display: none; } /*при дальнейшем уменьшении параграфы не помещаются + (4)*/
	.col-4 {max-width: calc(100% - 15px - 15px); } /*перестройка колонок с кругляшами и скриншотами*/
	.col-3on12, .col-4on12 {max-width: calc(100% - 15px - 15px ); } /*перестройка колонок с ценами*/
	.col-6on12 {max-width: calc(100% - 15px - 15px ); } /*site-testimonials*/